<%- include("template/cabecera") %>
<%- include("template/header") %>

      
      <div class="container">
        <h1><%= titulo %></h1>
        <a href="/barajas"><button class="btn btn-warning">Acceder a barajas
      </div>
      
      </button></a>
    <!-- Bootstrap JavaScript Libraries -->
    <%- include("template/footer") %>